log.txt
/object-detection-and-tracking-with-multiple-cameras-master
yolov4.weights
.idea/
/DeepSORT_YOLOv5_Pytorch-master/
/Blender_Simulations
#Multi-class_YOLOv5_DeepSort_Pytorch-master/inference
/__pycache__
*.pyc